.dashBoardNogames {
    width: 250px;
    height: 240px;
    top: 25px;
    margin: auto;
    margin-top: 150px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
  text-align: center;

  color: #2699c7;
}

.gameFlex{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 75px;
}

.dashboardLeft{
  width: 50px;
  display: inline-block; 
  height: 100%;
  background-color: #2699c7;
  position: fixed;
}

.dashboardRight{
  display: inline-block;
  margin-left: 60px;
  width: calc(100% - 60px);
}

.activeClick{
  width: 140px;
  display: inline-block; 
  height: 100%;
  background-color: #2699c7;
  position: fixed;
}
